{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true
  },
  "rules": {
    "semi": ["error", "always"],
    "eol-last": ["error", "always"],
    "comma-dangle": ["error", "always-multiline"],
    "strict": [2, "never"],
    "no-case-declarations": "off"
  },
  "globals": {
    "window": true,
    "global": true,
    "document": true,
    "process": true,
    "console": true
  }
}
